<h1>Badge</h1>
<%= form_for @badge do |f| %>
<div class="form-group">
<%= f.text_field :course, {placeholder: "Course", class: "form-control"} %>
</div>
<br />
<div class="form-group">
<%= f.text_area :website, {placeholder: "Website", class: "form-control"} %>
</div>
<br />
<div class="form-group">
<%= f.text_field :date, {placeholder: "Date", class: "form-control"} %>
</div>
<br />
<div class="form=group">
<%= f.text_field :purpose, {placeholder: "Purpose", class: "form-control"} %>
</div>
<br />
<%= f.submit class: 'btn btn-warning' %>
<% end %>
|<%= link_to 'Cancel', user_path(@badge.user) %> |
<%= link_to 'Delete', badge_path, method: 'delete', data: {confirm: "Are You Sure You Want to do that?"} %>|