<!DOCTYPE html>
<html>
  <head>
    <title>Project2Cert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      

      <!-- <% flash.each do |key, value| %>
      <div class ="alert alert-<%= key %>">
      <%= value %>
    </div>
    <% end %> -->
    
    <%= render 'layouts/partials/flash' %>
    <%= render 'layouts/partials/navbar' %>
        <%= yield %>
      </div>
  </body>
</html>
